<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question management</title>
</head>
<body>
{% extends 'management/home.html' %}
{% block content %}
    {% if sqs %}
    <table>
        <tr>
            <th>Question</th>
            <th>Due</th>
            <th>Delete</th>
        </tr>
        {% for q in sqs %}
            <tr>
                <td><a href="{% url 'sq' q.id %}">{{ q.name }}</a></td>
                <td>{{ q.due }}</td>
                <td><a href="{% url 'delete_sq' q.id %}">delete</a></td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No question available.</p>
    {% endif %}
    <h3>Add a new question</h3>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
{% endblock %}
</body>
</html>