<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game details</title>
</head>
<body>
{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}
    <p>{{ game }}</p>
    <p>{{ game.kickoff }}</p>
    {% if game.result is not None %}
        Outcome: {{ game.get_result }}
    {% endif %}
    {% if form and request.user|has_group:"Players"%}
        <p>Guess the outcome:</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    {% elif form and request.user.username == "siteadmin"%}
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="add_result" value="Register result">
            <input type="submit" name="eval" value="Evaluate">
        </form>
    {% endif %}
{% endblock %}
</body>
</html>