<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guesses</title>
</head>
<body>
{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}
    <p>{{ game }}</p>
    <p>{{ game.kickoff }}</p>
    {% if game.result %}
        {% if game.result == 0 %}
            <p>Draw</p>
        {% elif game.result == 1 %}
            <p>Home</p>
        {% elif game.result == 2 %}
            <p>Away</p>
        {% endif %}
    {% endif %}
    {% if form and request.user|has_group:"Players"%}
        <p>Guess the outcome:</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    {% endif %}
{% endblock %}
</body>
</html>