<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game details</title>
</head>
<body>
{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}
    <p>{{ game }}</p>
    <p>{{ game.kickoff }}</p>
    {% if game.home_goals is not None and game.away_goals is not None%}
        <p>Outcome: {{ game.get_result }} {{ game.home_goals }}-{{ game.away_goals }}</p>
    {% endif %}
    {% if form and request.user|has_group:"Players"%}
        <p>Guess the outcome:</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    {% elif form and request.user.username == "guber"%}
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="add_result" value="Register result">
        </form>
        <a href="{% url 'evaluate' game.id %}">evaluate</a>
    {% endif %}
{% endblock %}
</body>
</html>