<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question evaluation</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
    <p>{{ q.name }}</p>
    <p>Registered answer: {{ q.correct_answer }}</p>
    {% if answers %}
        <table>
            <tr>
                <th>User</th>
                <th>Answer</th>
                <th>Changes made</th>
            </tr>
            {% for a in answers %}
                <tr>
                    <td>{{ a.user.username }}</td>
                    <td>{{ a.answer }} </td>
                    <td>{{ a.changed }} </td>
                </tr>
            {% endfor %}
        </table>
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" value="Evaluate the answers and close the question.">
        </form>
    {% else %}
        <p>No answers submitted.</p>
    {% endif %}
{% endblock %}
</body>
</html>