<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Games</title>
</head>
<html lang="en">
<body>
{% extends 'base.html' %}

{% block content %}
    <h3>Upcoming</h3>
    {% if upcoming %}
    <table>
        <tr>
            <th>Game</th>
            <th>Kickoff</th>
        </tr>
        {% for g in upcoming %}
            <tr>
                <td><a href="{% url 'details' g.id %}">{{ g }}</a></td>
                <td>{{ g.kickoff }}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>No game available.</p>
    {% endif %}
    <h3>Results</h3>
    {% if results %}
        <table>
            <tr>
                <th>Game</th>
                <th>Kickoff</th>
            </tr>
            {% for g in results %}
                <tr>
                    <td><a href="{% url 'details' g.id %}">{{ g }}</a></td>
                    <td>{{ g.kickoff }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No game available.</p>
    {% endif %}
{% endblock %}
</body>
</html>