<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}

<h3>Upcoming</h3>
{% if upcoming %}
   <ul>
       {% for g in upcoming %}
           <li>{{ g }} {{ g.kickoff }}</li>
       {% endfor %}
   </ul>
{% else %}
    <p>No games are available.</p>
{% endif %}
<h3>Results</h3>
{% if results %}
   <ul>
       {% for g in results %}
           <li>{{ g }} {{ g.kickoff }}</li>
       {% endfor %}
   </ul>
{% else %}
    <p>No games are available.</p>
{% endif %}

{% endblock %}
</body>
</html>