<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Games</title>
</head>
<html lang="en">
<body>
{% extends 'base.html' %}

{% block content %}
<h3>Upcoming</h3>
{% if upcoming %}
<table>
    <tr>
        <th>Game</th>
        <th>Kickoff</th>
    </tr>
    {% for g in upcoming %}
    <tr>
        <td><a href="{% url 'details' g.id %}">{{ g }}</a></td>
        <td>{{ g.kickoff }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No game available.</p>
{% endif %}

{% if open_rounds %}
<table>
    <tr>
        <th>Matchday</th>
        <th>Due</th>
    </tr>
    {% for r in open_rounds %}
    <tr>
        <td><a href="{% url 'round' r.id %}">{{ r.matchday }}</a></td>
        <td>{{ r.due }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No round available.</p>
{% endif %}
{% if past_rounds %}
<h3>Previous matchdays and guesses</h3>
<table>
    <tr>
        <th>Matchday</th>
        <th>Guess</th>
        <th>Victorious teams</th>
    </tr>
    {% for r in past_rounds %}
    <tr>
        <td><a href="{% url 'round' r.question_id %}">{{ r.question.matchday }}</a></td>
        <td>{{ r.answer }}</td>
        <td>{{ r.question.correct_answer }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<h3>Results</h3>
{% if results %}
<table>
    <tr>
        <th>Game</th>
        <th>Kickoff</th>
    </tr>
    {% for g in results %}
    <tr>
        <td><a href="{% url 'details' g.id %}">{{ g }}</a></td>
        <td>{{ g.kickoff }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No game available.</p>
{% endif %}
<h3>Open questions</h3>
{% if sqs %}
<table>
    <tr>
        <th>Question</th>
        <th>Due</th>
    </tr>
    {% for q in sqs %}
    <tr>
        <td><a href="{% url 'sq' q.id %}">{{ q.name }}</a></td>
        <td>{{ q.due }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}
</body>
</html>