<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guesses</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}

    <h3>Upcoming games</h3>
        <table>
            <tr>
                <th>Game</th>
                <th>Kickoff</th>
                <th>Guess</th>
                <th>Delete</th>
            </tr>
            {% for g in upcoming %}
                <tr>
                    <td><a href="{% url 'details' g.game.id %}">{{ g.game }}</a></td>
                    <td>{{ g.game.kickoff }}</td>
                    <td>{{ g.get_outcome }}</td>
                    <td><a href="{% url 'delete_guess' g.id %}">delete</a></td>
                </tr>
            {% endfor %}
        </table>
        {% if upcoming %}
    {% else %}
        <p>No game available.</p>
    {% endif %}
    <h3>Results</h3>
    {% if results %}
        <table>
            <tr>
                <th>Game</th>
                <th>Kickoff</th>
                <th>Guess</th>
                <th>Result</th>
            </tr>
            {% for g in results %}
                <tr>
                    <td><a href="{% url 'details' g.game.id %}">{{ g.game }}</a></td>
                    <td>{{ g.game.kickoff }}</td>
                    <td>{{ g.get_outcome }}</td>
                    <td>{{ g.game.get_result }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No game available.</p>
    {% endif %}
    <h3>Questions</h3>
    {% if sas %}
            <table>
        <tr>
            <th>Question</th>
            <th>Due</th>
            <th>Your answer</th>
            <th>Delete</th>
        </tr>
        {% for a in sas %}
            <tr>
                <td><a href="{% url 'sq' a.question.id %}">{{ a.question.name }}</a></td>
                <td>{{ a.question.due }}</td>
                <td>{{ a.answer }}</td>
                <td><a href="{% url 'delete_sa' a.id %}">delete</a></td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
</body>
</html>