<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guesses</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}

    <h3>Upcoming games</h3>
        <table>
            <tr>
                <th>Game</th>
                <th>Kickoff</th>
                <th>Guess</th>
                <th>Delete</th>
            </tr>
            {% for g in upcoming %}
                <tr>
                    <td><a href="{% url 'details' g.game.id %}">{{ g.game }}</a></td>
                    <td>{{ g.game.kickoff }}</td>
                    <td>{{ g.get_outcome }}</td>
                    <td><a href="{% url 'delete_guess' g.id %}">delete</a></td>
                </tr>
            {% endfor %}
        </table>
        {% if upcoming %}
    {% else %}
        <p>No game available.</p>
    {% endif %}
    <h3>Results</h3>
    {% if results %}
        <table>
            <tr>
                <th>Game</th>
                <th>Kickoff</th>
                <th>Guess</th>
                <th>Result</th>
            </tr>
            {% for g in results %}
                <tr>
                    <td><a href="{% url 'details' g.game.id %}">{{ g.game }}</a></td>
                    <td>{{ g.game.kickoff }}</td>
                    <td>{{ g.get_outcome }}</td>
                    <td>{{ g.game.get_result }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No game available.</p>
    {% endif %}

{% endblock %}
</body>
</html>