<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tippelde Index</title>
</head>
<body>
{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}
    {% if request.user|has_group:"managers" %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" name="add_result" value="Post">
            </form>
        {% endif %}
    {% if posts %}
        {% for p in posts %}
            <h3>{{ p.title }}</h3>
            <p><i>posted {{ p.added }}</i></p>
            <div><p>{{ p.content }}</p></div>
        {% endfor %}
    {% endif %}
{% endblock %}
</body>
</html>