<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question details</title>
</head>
<body>
{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}
    <p>{{ q.name }}</p>
    {% if q.description %}
        <p>{{ q.description }}</p>
    {% endif %}
    <p>Closes at {{ q.due }}</p>
    {% if changed != -1 %}
        <p>Changes {{ changed }}/{{ q.changes }}</p>
    {% endif %}
    {% if past %}
        {% if ans %}
            <p>Guesses on this question:</p>
            <table>
                <tr>
                    <th>User</th>
                    <th>Guess</th>
                </tr>
                {% for a in ans %}
                    <tr>
                        <td>{{ a.user.username }}</td>
                        <td>{{ a.answer }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No guesses.</p>
        {% endif %}
    {% endif %}
    {% if changed < q.changes %}
        {% if form and request.user|has_group:"Players"%}
            <p>Guess the outcome:</p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        {% endif %}
    {% endif %}
    {% if form %}
        {% if request.user|has_group:"managers" %}
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" name="add_result" value="Register result">
            </form>
            {% if type == "string" %}
                <a href="{% url 'evaluate_sq' q.id %}">evaluate</a>
            {% elif type == "numeric" %}
                <a href="{% url 'evaluate_nq' q.id %}">evaluate</a>
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock %}
</body>
</html>